a {
  color: #545454;
  text-decoration: none;
}

.flex-container {
  display: flex;
}

.header {
  justify-content: space-between;
  height: 64px;
  margin: 0 24px;
}

.logo {
  align-items: center;
}

.logo span {
  text-transform: uppercase;
}

.logo span:nth-child(2) {
  color: #4a4a4a;
}

.logo span:nth-child(3) {
  color: #9b9b9b;
}

.navigation {
  align-items: center;
}

.navigation a {
  margin-left: 16px;
}