html {
  font-size: 16px;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 4rem;
}

h2 {
  font-family: 'Patua One', cursive;
  font-size: 3.25rem;
}

h3 {
  font-size: 2.75rem;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.25rem;
}

p {
  font-family: 'Poiret One', san-serif;
}

.flex-container {
  display: flex;
}

.header {
  justify-content: space-between;
  height: 64px;
  margin: 0 24px;
}

.logo {
  align-items: center;
}

.logo span {
  font-size: 32px;
  text-transform: uppercase;
}

.logo span:nth-child(2) {
  color: #4a4a4a;
}

.logo span:nth-child(3) {
  color: #9b9b9b;
}

.navigation {
  align-items: center;
}

.navigation a {
  margin-left: 16px;
  color: #4a4a4a;
  font-family: 'Inconsolata', monospace; 
  text-decoration: none;
  word-spacing: -5px;
}

.banner {
  background-color: #d8d8d8;
}

.banner-left-column {
  margin: 32px 24px;
  width: 60%;
}

.banner-left-column img {
  width: 100%;
}

.banner-right-column {
  flex-direction: column;
  justify-content: center;
  margin-right: 32px;
}

.banner-content h4 {
  margin: 24px 0px;
}

.banner-content button {
  background-color: #4a4a4a;
  color: #ffffff;
  display: block;
  font-size: 1.25rem;
  padding: 8px 0px;
  width: 100%;
}

.information-left-column {
  flex-direction: column;
  margin: 32px 24px;
  width: 60%;
}

.information-left-column img {
  width: 102%;
}

.information h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.information p:nth-child(1) {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.75rem;
}

.information p:nth-child(4) {
  font-style: italic;
}

.information-right-column {
  width: 40%;
}

.information-orientation {
  align-items: center;
  margin-top: 32px;
  margin-left: 24px;
}

.information-orientation img {
  height: auto;
  margin-left: 16px;
  width: 35%;
}

.information-orientation-content {
  flex-direction: column;
  margin-left: 20px
}

.information-orientation-content p {
  margin: 15px 0px;
}

.information-orientation-content a {
  font-family: 'Roboto', sans-serif;
}

.information-campus {
  align-items: center;
  margin-top: 32px;
  margin-left: 24px;
}

.information-campus img {
  height: auto;
  margin-left: 16px;
  width: 35%;
}

.information-campus-content {
  flex-direction: column;
  margin-left: 20px;
}

.information-campus-content p {
  margin: 15px 0px;
}

.information-campus-content a {
  font-family: 'Roboto', sans-serif;
}

.information-guest-lecture {
  align-items: center;
  background-color: #d8d8d8;
  margin-top: 32px;
  margin-left: 24px;
}

.information-guest-lecture img {
  height: auto;
  margin: 16px;
  width: 35%;
}

.information-guest-lecture-content {
  flex-direction: column;
  margin-left: 10px;
}

.information-guest-lecture p {
  margin: 15px 0px;
}

.information-guest-lecture-content a {
  font-family: 'Roboto', sans-serif;
}

.courses {
  background-color: #d8d8d8;
}

.courses-header h2 {
  padding-top: 32px;
  text-align: center;
}

.courses-content {
  flex-wrap: wrap;
  margin: 32px 72px;
}

.course {
  background-color: #ffffff;
  max-width: 31%;
}

.course img {
  height: auto;
  max-width: 100%;
}

.course-content {
  margin: 16px 16px;
}

.course-content h4 {
  margin-top: 8px;
}

.course-content p {
  margin-top: 8px;
}

.courses-content div:nth-child(1) {
  margin-right: 32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(2) {
  margin-right: 32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(3) {
  margin-bottom: 32px;
}

.courses-content div:nth-child(4) {
  margin-right: 32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(5) {
  margin-right:32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(6) {
  margin-bottom: 32px;
}