html {
  font-size: 16px;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 4rem;
}

h2 {
  font-family: 'Patua One', cursive;
  font-size: 3.25rem;
}

h3 {
  font-size: 2.75rem;
}

h4 {
  font-family: 'Comfortaa', cursive;
  font-size: 2.25rem;
}

p {
  font-family: 'Poiret One', san-serif;
}

.flex-container {
  display: flex;
}

.header {
  justify-content: space-between;
  height: 64px;
  margin: 0 24px;
}

.header-mobile {
  display: none;
}

.logo {
  align-items: center;
}

.logo span {
  font-size: 32px;
  text-transform: uppercase;
}

.logo span:nth-child(2) {
  color: #4a4a4a;
}

.logo span:nth-child(3) {
  color: #9b9b9b;
}

.navigation {
  align-items: center;
}

.navigation a {
  margin-left: 16px;
  color: #4a4a4a;
  font-family: 'Inconsolata', monospace; 
  text-decoration: none;
  word-spacing: -5px;
}

.banner {
  background-color: #d8d8d8;
}

.banner-left-column {
  margin: 32px 24px;
  width: 60%;
}

.banner-left-column img {
  width: 100%;
}

.banner-right-column {
  flex-direction: column;
  justify-content: center;
  margin-right: 32px;
}

.banner-content h4 {
  margin: 24px 0px;
}

.banner-content button {
  background-color: #4a4a4a;
  color: #ffffff;
  display: block;
  font-size: 1.25rem;
  padding: 8px 0px;
  width: 100%;
}

.information-left-column {
  flex-direction: column;
  margin: 32px 24px;
  width: 60%;
}

.information-left-column img {
  width: 102%;
}

.information h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.information-campus-mobile {
  display: none;
}

.information p:nth-child(1) {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.75rem;
}

.information p:nth-child(4) {
  font-style: italic;
}

.information-right-column {
  width: 40%;
}

.information-orientation {
  align-items: center;
  margin-top: 32px;
  margin-left: 24px;
}

.information-orientation img {
  height: auto;
  margin-left: 16px;
  width: 35%;
}

.information-orientation-content {
  flex-direction: column;
  margin-left: 20px
}

.information-orientation-content p {
  margin: 15px 0px;
}

.information-orientation-content a {
  font-family: 'Roboto', sans-serif;
}

.information-orientation-mobile {
  display: none;
}

.information-campus {
  align-items: center;
  margin-top: 32px;
  margin-left: 24px;
}

.information-campus img {
  height: auto;
  margin-left: 16px;
  width: 35%;
}

.information-campus-content {
  flex-direction: column;
  margin-left: 20px;
}

.information-campus-content p {
  margin: 15px 0px;
}

.information-campus-content a {
  font-family: 'Roboto', sans-serif;
}

.information-guest-lecture {
  align-items: center;
  background-color: #d8d8d8;
  margin-top: 32px;
  margin-left: 24px;
}

.information-guest-lecture-mobile {
  display: none;
}

.information-guest-lecture img {
  height: auto;
  margin: 16px;
  width: 35%;
}

.information-guest-lecture-content {
  flex-direction: column;
  margin-left: 10px;
}

.information-guest-lecture p {
  margin: 15px 0px;
}

.information-guest-lecture-content a {
  font-family: 'Roboto', sans-serif;
}

.courses {
  background-color: #d8d8d8;
}

.courses-header h2 {
  padding-top: 32px;
  text-align: center;
}

.courses-content {
  flex-wrap: wrap;
  margin: 32px 72px;
}

.course {
  background-color: #ffffff;
  width: 31%;
}

.course img {
  height: auto;
  max-width: 100%;
}

.course-content {
  margin: 16px 16px;
}

.course-content h4 {
  margin-top: 8px;
}

.course-content p {
  margin-top: 8px;
}

.courses-content div:nth-child(1) {
  margin-right: 32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(2) {
  margin-right: 32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(3) {
  margin-bottom: 32px;
}

.courses-content div:nth-child(4) {
  margin-right: 32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(5) {
  margin-right:32px;
  margin-bottom: 32px;
}

.courses-content div:nth-child(6) {
  margin-bottom: 32px;
}

.thesis-header h2 {
  margin-top: 32px;
  text-align: center;
}

.thesis-left-column {
  width: 60%;
}

.thesis-left-column-content {
  margin: 32px 24px;
}

.thesis-left-column-content video {
  width: 100%;
}

.thesis-left-column-content h4 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.thesis-right-column {
  margin-top: 32px;
  width: 40%;
}

.thesis-fisma {
  background-color: #d8d8d8;
  align-items: center;
}

.thesis-fisma-image {
  margin: 16px;
  width: 35%;
}

.thesis-fisma-image img {
  height: auto;
  width: 100%;
}

.thesis-fisma-information h4 {
  margin-bottom: 8px;
}

.thesis-now-and-then {
  align-items: center;
}

.thesis-now-and-then-image {
  margin: 16px;
  width: 35%;
}

.thesis-now-and-then-image img {
  height: auto;
  width: 100%;
}

.thesis-now-and-then-information h4 {
  margin-bottom: 8px;
}

.footer-content {
  justify-content: space-between;
  margin: 16px 24px;
}

.footer-copyright-information p {
  font-family: 'Inconsolata', monospace; 
}

.terms-privacy {
  word-spacing: 10px;
}

.terms-privacy a {
  color: #4a4a4a;
  font-family: 'Inconsolata', monospace;
  text-decoration: none; 
}

@media only screen and (max-width: 500px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: flex;
    height: 64px;
    justify-content: space-around;
  }

  .banner {
    flex-direction: column;
  }

  .banner-left-column {
    margin: auto;
    width: 100%;
  }

  .banner-content h1 {
    font-size: 41px;
    margin: 32px 16px;
  }

  .banner-content h4 {
    font-size: 17px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 24px;
  }

  button {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 32px;
  }

  .information-left-column {
    display: none;
  }
  .information-right-column {
    width: 100%;
  }
  
  .information-orientation {
    flex-direction: column;
  }
  
  .information-orientation img {
    display: none;
  }

  img.information-orientation-mobile {
    display: block;
    margin-right: 2.5rem;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: -16px;
    width: 100%;
  }

  .information-campus {
    flex-direction: column;
  }

  .information-campus img {
    display: none;
  }

  img.information-campus-mobile {
    display: block;
    margin-right: 2.5rem;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: -16px;
    width: 100%;
  }

  .information-campus-content {
    margin-right: 2.6rem;
  }

  .information-guest-lecture img {
    display: none;
  }

  .information-guest-lecture {
    background-color: transparent;
    flex-direction: column;
  }

  img.information-guest-lecture-mobile {
    display: block;
    margin-right: 2.5rem;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: -16px;
    width: 100%;
  }

  .information-guest-lecture-content {
    margin-bottom: 32px;
  }
}